
mat-toolbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: black;
  text-align: center;
}

ul {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}




