<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="taskName" placeholder="Task Name" required>
      <mat-error *ngIf="form.get('taskName').invalid">Please enter Task Name</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Project Name </mat-label>
        <mat-select name = "select project" formControlName="projectName">
             <mat-option *ngFor="let p of project" [value]="p">
                    {{p}}
             </mat-option>
        </mat-select>
    </mat-form-field>

      <mat-form-field>
        <input type = "time"  matInput  formControlName="startTime" placeholder="Start Time">
        <mat-error *ngIf="form.get('startTime').invalid">Please enter Task Name</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type = "time"  matInput  formControlName="endTime" placeholder="End Time">
        <mat-error *ngIf="form.get('endTime').invalid">Please Select End Time</mat-error>
      </mat-form-field>

    <button mat-raised-button color="accent" type="submit">Log Time</button>
  </form>
</mat-card>
