:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 20%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

mat-card{
  background-color: lightblue;
  margin-top: 15%;

}

countdown{
  border: 5px none rgba(92,74,164,0.14);
   width: 720px;
   margin: 0 auto;
   padding: 10px;
   color: #1a1a1a;
   background-color: #f2f1ed;

}
